@media screen and (max-width:900px){
    header{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width:900px){
    main{
        display: flex;
        flex-direction: column;
    }
}